.footer{
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19,19,19,0.8);
    
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}



.footer-container ul{
    list-style: none;
    align-items: center;

}
.footer-container ul li{
    margin-top: 10px;
    margin-left: 40%;
    
}

