.mid-img1{
    height: 350px;
    width: auto;
    margin-left: 5px;
    border-radius: 20px;
    border-color: blue;

}
.mid1-main{
    background-color: rgb(39, 22, 22);
    height: 360px;
    margin: 30px 70px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}
.mid1-mid{
    display: flex;
}
.mid1-mid p{
    margin: 1% 5%;
    font-size: large;
}